/* Beginning of CSS reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Reset Margin and Padding to 0 */
* {
  margin: 0;
  padding: 0;
}
/* End of CSS Reset */

/* Website */
@font-face {
  font-family: "Norse";
  src: url("./fonts/Norse.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Norse";
  src: url("./fonts/Norsebold.otf");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #adb5bd;
  text-align: center;
}

.container {
  display: flex;
  height: 80%;
  align-items: center;
  max-width: 70%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  background-image: url(./img/ship.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1300px auto;
  height: 100%;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
  font-family: "Norse", sans-serif;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.logo-box > h1 {
  align-self: center;
  font-size: 5rem;
}

.logo-box > img {
  width: 140px;
  height: auto;
}

/* Form */
.main-section {
  width: 45%;
  text-align: left;
}

.form-section {
  display: flex;
  margin: 30px 50px;
}

.text-section > h2 {
  text-align: left;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 5px;
  margin-top: 50px;
  margin-left: 50px;
}

.text-section > p {
  text-align: left;
  font-size: 1.2rem;
  margin: 0px 50px;
}

label,
input {
  display: flex;
  align-items: center;
}

input {
  padding: 8px 50px;
  text-align: left;
  font-size: 1.2rem;
}

.form {
  margin-bottom: 20px;
}

button {
  padding: 8px 40px;
  font-size: 1.4rem;
  border: none;
  margin-top: 0;
  background-color: #96f2d7;
  font-weight: bold;
}

button:hover {
  background-color: #63e6be;
}

button:active {
  background-color: #38d9a9;
  transform: translateY(4px);
}

.log-in {
  color: #12b886;
}

label {
  color: black;
  font-weight: bold;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid black;
}

input[type="email"] {
  border: none;
  border-bottom: 2px solid black;
}

input[type="password"] {
  border: none;
  border-bottom: 2px solid black;
}

input[type="text"]:focus {
  box-shadow: rgba(0, 0, 0, 0.4);
}

input[type="email"]:focus {
  box-shadow: rgba(0, 0, 0, 0.4);
}

input[type="password"]:focus {
  box-shadow: rgba(0, 0, 0, 0.4);
}

a {
  text-decoration: none;
}
