/* Beginning of CSS reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Reset Margin and Padding to 0 */
* {
  margin: 0;
  padding: 0;
}
/* End of CSS Reset */

/* Main Section */
body {
  font-family: Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  height: 80%;
  align-items: center;
  overflow: hidden;
  width: 80%;
  box-shadow: ;
}

/* Sidebar */
.sidebar {
  background-image: url(./img/ship.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1300px auto;
  height: 100%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-box > h1 {
  align-self: center;
  font-size: 4rem;
}

.logo-box > img {
  width: 140px;
  height: auto;
}

/* Form */
.main-section {
}

/* Icon Styling */
.icon {
  width: 25px;
  height: auto;
  stroke: #ffec99;
}
